@charset "utf-8";
$breakpoint-tab:1350px;
$breakpoint-sp:750px;

@mixin max-screen($break-point){
  @media screen and (max-width: $break-point){
    @content;
  }
}

html{
    font-size: 62.5%;/*font-sizeは16pxの62.5%の10px=1rem*/
    font-family:'Noto+Sans';
    body{
    background-color: #e7f8f9;   
    }
    
    @include max-screen($breakpoint-tab){
        font-size:50%;
    } 
}

//*header*//
header{
    position: fixed;
    top:0;
    z-index: 3;
    height: 50px;
    width: 100%;
    background-color: #035a80;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    
    div{
       display: flex; 
        
        a{
            height: 70%;
            margin:auto 20px auto 50px;
        }
        
        p{
            display: inline-block;
            width: 22rem;
            margin-left:20px;
            
            .orange{
                color: #ee6c4d;
                font-size: 2.5rem;
                line-height: 22px;
            }
           
            &.login{
                background-color:#ee6c4d;
                height: 50px;
                margin: 0 30px ;
                text-align: center;
                line-height: 25px;
            }
            
        }
        
        .login-btn{
            width: 160px;
            height: 32px;
            color: white;
            background-color: #ee6c4d;
            border-radius: 14.5px;
            margin: 9px 80px 9px 0;
            line-height: 30px;
            text-align: center;
            @include max-screen($breakpoint-sp){
            margin: 9px 10px 9px 0;
            }
            
            &.logout{
            color: #484a4b;
            background-color: white;
            border: 1px solid #e9e9e9;
            }
        }
        .logout-icon{
            display: none;
            color: white;
            font-size: 3.5rem;
            margin:auto 20px auto 0;
        }
    }
    @include max-screen($breakpoint-tab){
        .display-none{
            display:none;
        }
        div{
           .logout-icon{display: inline-block;} 
        }
        
    }
    
}
//*header終わり*//

//*fast view*//
.fast-view{
    position: relative;
    color: #484a4b;
    height: 700px;
    padding-bottom: 1px;
    
    .background-image{
        background-image: url('../img/fv-image.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 83%;
        height: 600px;
        position: absolute;
        right: 0;
        
    }
    
    .band{
        position: absolute;
        top:20%;
        left: 0;
        z-index: 2;
        font-family:serif;
        padding: 40px 180px 40px 130px;
        background:
        linear-gradient(0deg,  transparent 0px, rgba(255,255,255,0.7) 0px),
        linear-gradient(0deg, transparent 0px, rgba(255,255,255,0.7) 0px),
        linear-gradient(245deg, transparent 70px, rgba(255,255,255,0.7) 0px),
        linear-gradient(295deg, transparent 70px, rgba(255,255,255,0.7) 0px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 40px;
      
        
        .fs-30px{
            font-size: 3rem;
            span{
                color: #ee6c4d;
                font-size: 4.2rem;
            }
        }
        
        .fs-24px{
            font-size: 2.4rem;
        }
        
        img{
            width: 100%;
            margin-left: 10%;
        }
    }
    @include max-screen($breakpoint-tab){
        .band{max-width: 90%;}
        }
    @include max-screen($breakpoint-sp){
        .background-image{
        background-image: url('../img/fv-image.png');
        width: 90%;
        height: 450px;
        right: 0;
        top:150px;
        }
        .band{
        padding: 20px 100px 20px 50px;
        top:15%;
            img{width: 80%;}
            }
        }
}
//*fast view終わり*//

//*room選択*//
#room-select{
    margin: 50px 17%;
    width: 66%;
    
    section{
        width: 95%;
        margin: 50px auto;
        position: relative;
        display: flex;
        
        h2{
            position: absolute;
            top:10%;
            left: 0;
            width: 23%;
            padding-left: 40px;
            color: white;
            font-size: 1.5rem;
            background-color:#035a80;
            background:
        linear-gradient(0deg,  transparent 0px, #035a80 0px),
        linear-gradient(0deg, transparent 0px, #035a80 0px),
        linear-gradient(245deg, transparent 10px, #035a80 0px),
        linear-gradient(295deg, transparent 10px, #035a80 0px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 35px;
        }
        
        img{
            width: 50%;
        }
        
        div{
            background-color: white;
            width: 50%;
            letter-spacing: 1.5px;
            
            .table{
                margin: 0 20px;
                font-size: 1.3rem;
                
                th{
                    width: 25%;
                    padding: 5px;
                    font-weight: 600;
                }
                td{
                    padding: 5px 30px 5px 0;
                }
            }
            
            a{
                display: inline-block;
                background-color: #98c1d9;
                width: 185px;
                height: 32px;
                border-radius: 14.5px;
                margin: 30px 25%;
                color: #484a4b;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: 32px;
                text-align: center;
                box-shadow:0px 2px 0px 0px rgba(0,0,0,0.3); 
        
                &:hover{
                    position: relative;
                    border-bottom: none;
                    top:2px;
                    box-shadow: none;
                }
            }
        }
    }
    @include max-screen($breakpoint-tab){
        section{
            width: 100%;
            h2{width: 30%;
               text-align: center;
               padding: 0;}
            a{margin:10px 20px;}
        }
        }
    @include max-screen($breakpoint-sp){
        section{
        flex-direction: column;
        width: 100%;
            h2{width: 40%;
               top:5%;}
            img{width:100%;}
            div{width:100%;}
           
        }
    }
}
//*room選択終わり*//

//*content*//
#content{

.background-white{
    background-color: white;
    
}

h2{
        font-size: 1.5rem;
        position: relative;
        padding: 5px 25px;
        margin-bottom: 20px;
        
        &::before,&::after{
            position: absolute;
            content:'';
        }
        &::before{
            top:0;
            left: 10px;
            height: 35px;
            border-left: 2px solid #035a80;
        }
        &::after{
            bottom: 0;
            left: 0;
            width: 200px;
            border-bottom: 2px solid #98c1d9;
        }
    }

.padding{
    width: 100%;
    padding: 40px 17%;
    letter-spacing: 1.5px;
    
    p{
        margin-left: 20px;
        font-size: 1.3rem;
        
        .orange{
            color:#ee6c4d
        }  
    }
    .fs-15px{
            font-size:1.5rem;
            margin-bottom: -10px;
        }
    .flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        
        iframe{
            width:400; 
            height:200px;
            border:0;
        }
    }
    @include max-screen($breakpoint-sp){
    padding: 40px 5%;
        .flex{
            flex-direction: column-reverse;
            iframe{margin: 20px;}
        }
    }
}

.side-color{
    width: 76%;
    padding: 100px 30px 100px 50px;
    margin: 0 12%;
    min-height: 100vh;
    background-color: white;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    color: #484a4b;
    
    h3{
        font-size: 1.5rem;
        margin: 0 0 30px 30px;
    }
    i{
        font-size: 1.5rem;
        margin-left: 5px;
        color: #035a80;
    }
    p{
        margin-top: 10px;
    }
    .error{
        color:#ee6c4d;
    }
    .submit-btn{
        display: inline-block;
        background-color: #98c1d9;
        width: 185px;
        height: 32px;
        border-radius: 14.5px;
        border: none;
        box-shadow:0px 2px 0px 0px rgba(0,0,0,0.3); 
        font-weight: bold;
        text-align: center;
        line-height: 32px;
        
        &:hover{
            position: relative;
            top:2px;
            box-shadow: none;
            border: none;
        }
        &.back{
            background-color: white;
            border: 1px solid #e9e9e9;
        }
    }
    .table{
        max-width: 500px;
        th{
            width: 170px;
        }
    }
    .background-color{
        background-color: #e9e9e9;
        width: 95%;
        padding: 30px;
    }
    &.padding-bottom{
        padding-bottom: 300px;
    }
    @include max-screen($breakpoint-sp){
    margin: 0 5%;
    width: 90%;
    }
}
}
//*content終わり*//

//*footer*//
footer{
    height: 50px;
    width: 100%;
    background-color: #035a80;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    
    img{
        height: 70%;
        margin:auto 0 auto 50px;
    }
    
    ul{
        display: flex;
        line-height: 40px;
        letter-spacing: 1px;
        margin-right: 50px;
        
        li{
            list-style: none;
            margin: 0 15px;
            
            i{
                font-size: 1.5rem;
                margin-right: 6px;
            }
            @include max-screen($breakpoint-sp){
            padding-top: 5px;
            span{display: none;}
            i{font-size: 3rem;}
        
    }
        }
    }
    
}

//*footer終わり*//
